:root {
    --space-cadet: #25283d;
    --amber: #ffbf00;
    --imperial-red: #ef233c;
    --mint-green: #c1ff9b;
    --champagne-pink: #efd9ce;
}

.bg-space-cadet {
    background-color: var(--space-cadet);
    color: var(--champagne-pink);
}

.bg-amber {
    background-color: var(--amber);
    color: var(--space-cadet);
}

.bg-imperial-red {
    background-color: var(--imperial-red);
    color: var(--space-cadet);
}

.bg-mint-green {
    background-color: var(--mint-green);
    color: var(--space-cadet);
}

.bg-champagne-pink {
    background-color: var(--champagne-pink);
    color: var(--space-cadet);
}

.bg-white {
    background-color: white;
    color: var(--space-cadet);
}